# Build outputs
/build/
**/build/
*.elf
*.bin
*.hex
*.map

# SDK config
#sdkconfig
#sdkconfig.old

# CMake files
#CMakeCache.txt
#CMakeFiles/
#cmake_install.cmake
#Makefile

# PlatformIO
.pio/

# VSCode settings
.vscode/

# Python cache
__pycache__/
*.pyc
